/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  transition: background-color 0.5s ease;
  scroll-behavior: smooth;
  background-color: #1a237e; /* Initial background */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(1, 10, 2, 0.85);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px yellow;
}

.nav-links li a:hover {
  background-color: aqua;
  border: 5px solid;
  border-radius: 5px;
  
}

section {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}
